<br><br>

<div class="displayContainer">
  {{#each kitchenitems}}
  {{!--kitchenitems.id--}}
  {{!--toJSON kitchenitems--}}
  <div class="card w-75" style="margin-left: 14vw; margin-bottom: 20px">
    <h5 class="card-header" style="background-color: #808080;">{{this.dataValues.name}}</h5>
    <div class="card-body">
      <div class="row">
      <div class="col-md-4">  Category: {{this.dataValues.category}}</div> 
      <div class="col-md-4">  Item Price: {{this.dataValues.itemPrice}}</div>
      <div class="col-md-4">  Quantity: {{this.dataValues.quantity}}</div> 
      </div>
      <p><span>Description:</span> {{this.dataValues.description}}</p>
      <img src="/assets/pics/{{this.dataValues.picurl}}" alt="Product image" height="200" width="200">
      {{!-- <a class="btn" href="/buy/{{this.dataValues.id}}" style="background-color: rgb(236, 16, 27);">Buy Now</a> --}}
      <a class="btn" href="/buy/{{this.dataValues.id}}" style="background-color: rgb(236, 16, 27);">Buy Now</a>
    </div>
  </div>


  {{/each}}</div>