{{!-- <div class="container col-sm-4 py-5 bg-faded">
    <div class="card-columns" >
        {{#each kitchenitems}}
        <div class="card">
                <div>  Category: {{this.dataValues.category}}</div >
                <div>  Item Price: {{this.dataValues.itemPrice}}</div>
                <div>  Quantity: {{this.dataValues.quantity}}</div> 
            <p  style="height: 100px;"><span>Description:</span> {{this.dataValues.description}}</p>
            <img  class="card-img-top img-fluid" src="/assets/pics/{{this.dataValues.picurl}}" alt="Product image" height="200" width="200" >

            <a class="btn addToCartAnchor" href="/addToCart/{{this.dataValues.id}}/{{this.dataValues.quantity}}" 
            style="background-color: rgb(236, 16, 27);" 
            id="addToCartAnchor" prodName="{{this.dataValues.name}}">Add to cart</a>
        </div>
        {{/each}}
    </div>
</div> --}}

<div class="container py-5 bg-faded">
    <div class="card-columns" >
        {{#each kitchenitems}}
        <div class="card">
          <h5 >{{this.dataValues.name}}</h5>
           <img  class="card-img-top img-fluid" src="/assets/pics/{{this.dataValues.picurl}}" alt="Product image" >
                <div>  Category: {{this.dataValues.category}}</div >
                <div>  Item Price: {{this.dataValues.itemPrice}}</div>
                <div>  Quantity: {{this.dataValues.quantity}}</div> 
            <p  style="height: 100px;"><span>Description:</span> {{this.dataValues.description}}</p>
           

            <a class="btn addToCartAnchor" href="/addToCart/{{this.dataValues.id}}/{{this.dataValues.quantity}}" 
            style="background-color: rgb(236, 16, 27);" 
            id="addToCartAnchor" prodName="{{this.dataValues.name}}">Add to cart</a>
        </div>
        {{/each}}
    </div>
</div>
